/.hintrc
/desarrollo-web-app
/desarrollo-web-app1
/fullstack
/index.php
/node_modules
/package-lock.json
/package.json
/ProductStoreApp1
/proyecto-angular8
/proyecto-dais-tail
/proyecto-with-tailwind
/proyecto8
/proyecto8-tailwind
/__MACOSX